html{
    background-color:rgb(248, 189, 168)
}

form{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(206, 124, 94);
    font-size: medium;
}

.container{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1{
    color:rgb(41, 29, 3);
    text-align: center;
    font-size: 170%;
    font-weight:normal;
    letter-spacing: normal;
}

/*site-navigation*/
.site-nav{
    margin-top:10px;
    margin-bottom: 10px;
}
.site-nav ul{
    margin:0;
    padding: 0;
}
.site-nav li{
    list-style: none;
    float: left;
}
.site-nav a{
    padding: 10px 20px;
    text-decoration: none;
    color:rgb(161, 85, 19);
    border-bottom: none;
}
.site-nav a:hover{
    background-color: rgb(19, 114, 117);
}
/*end site navigation*/
.content-area{
    max-width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-left:40px;
    padding-right:40px;
    box-sizing:border-box
}

.main-area{
    width: 66%;
    float:left;
    padding-right: 40px;
    padding-left: 40px;
}

img{
    max-width: 400px;
    height:200px;
    
}
.side-bar{
    width: 25%;
    float:right;

    background-color: rosybrown;
    padding:20px 40px;
    font-style: italic;
}
.working-area{
    width: 80%;
    float:none;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size:medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}
